/*
 * SETTINGS-COLORS
 */

/*
  * Primary colors
  */
:root {
  --primaryBackground: #eee;
  --primaryText: black;
  --white: white;
  --black: black;
  --cardBorder: silver;
  --textBackGround: #f4f4f4;
  --heading: #3b414c;
}
